.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.button {
  margin-bottom: 20px;
}

.content {
  border: 2px solid black;
  text-align: start;
  z-index: 10;
  background-color: white;
}

.content p {
  font-size: 14px;
  margin: 10px;
  color: grey;
}

.content p:hover {
  color: black;
}

.aTag {
  text-decoration: none;
  color: grey;
}
