.container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  padding: 17px 0;
}

.header {
  display: flex;
  justify-content: center;
  color: white;
}

.dropdownButton {
  border: 2px solid white;
  text-transform: uppercase;

  font-weight: 900;
  padding: 6px 25px;
  position: absolute;
  right: 300px;
}

.dropdown {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  right: 300px;
  top: 70px;
  font-size: 14px;
  padding: 6px 15px;
  line-height: 18px;
}
