.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 480px;
  margin: 0 auto;
  grid-column: 2/3;
  grid-row: 1/4;
  margin-top: 70px;
  margin-bottom: 120px;
}

.container img {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
}
.details {
  display: flex;
  flex-direction: column;
}

.details p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  margin-top: 30px;
}

.author {
  font-size: 32px;
  font-weight: 500;
  margin-top: 4px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
}

.date {
  color: #9d9d9d;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 30px;
}
